<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
<channel>
<title>RSS:Kastelli</title>
<link>https://ravintolapalvelut.iss.fi/kastelli/</link>
<description />
<item>
<title>pe 11.9.2026</title>
<description><![CDATA[Lounas:Broileripyörykät currykastikkeessa, perunat<br><br>Kasvislounas:Kasvispyörykät, Jäävuori-persikkasalaatti, mustaherukkahillo]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-11</guid>
</item>
<item>
<title>ma 14.9.2026</title>
<description><![CDATA[Lounas:Broilerkebabkastike, riisi<br><br>Kasvislounas:Seitankebabkastike<br><br>Lisäkkeet:Kaali-ananasraaste, vihreä pepperoni]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-14</guid>
</item>
<item>
<title>ti 15.9.2026</title>
<description><![CDATA[Lounas:Makkarakeitto<br><br>Kasvislounas:Kasvismakkarakeitto<br><br>Lisäkkeet:Kurkku, juusto, Omena]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-15</guid>
</item>
<item>
<title>ke 16.9.2026</title>
<description><![CDATA[Lounas:Kalakepukat, perunat, pinaattikastike<br><br>Kasvislounas:Kasviskepukat<br><br>Lisäkkeet:Punajuuri, Jäävuori-kesäkurpitsasalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-16</guid>
</item>
<item>
<title>to 17.9.2026</title>
<description><![CDATA[Lounas:Kaalilaatikko<br><br>Kasvislounas:Kasviskaalilaatikko<br><br>Lisäkkeet:Porkkana-raejuustoraaste, puolukkahillo]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-17</guid>
</item>
<item>
<title>pe 18.9.2026</title>
<description><![CDATA[Lounas:Juurespyörykät, peruna-porkkanasose, tartarkastike<br><br>Lisäkkeet:Tuoresalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-18</guid>
</item>
<item>
<title>ma 21.9.2026</title>
<description><![CDATA[Lounas:Bolognesekastike, makaroni<br><br>Kasvislounas:Kasvisbolognese<br><br>Lisäkkeet:Kaali-kesäkurpitsa-mandariiniraaste]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-21</guid>
</item>
<item>
<title>ti 22.9.2026</title>
<description><![CDATA[Lounas:Kebabkiusaus<br><br>Kasvislounas:Vebabkiusaus<br><br>Lisäkkeet:Jäävuori-maissi-persikkasalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-22</guid>
</item>
<item>
<title>ke 23.9.2026</title>
<description><![CDATA[Lounas:Ohrapuuro<br><br>Lisäkkeet:Mehukeitto, kurkku, leikkele]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-23</guid>
</item>
<item>
<title>to 24.9.2026</title>
<description><![CDATA[Lounas:Broileripastavuoka<br><br>Kasvislounas:Soija-pastavuoka<br><br>Lisäkkeet:Porkkanaraaste, punakaali-mustaherukkasalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-24</guid>
</item>
<item>
<title>pe 25.9.2026</title>
<description><![CDATA[Lounas:Kalanugetit, perunasose, sweet chili majoneesi<br><br>Kasvislounas:Kasvis-jalapenonugetit<br><br>Lisäkkeet:Vihersalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-25</guid>
</item>
<item>
<title>ma 28.9.2026</title>
<description><![CDATA[Lounas:Makkarakastike, perunat<br><br>Kasvislounas:Kasvisnakkikastike<br><br>Lisäkkeet:Kaali-porkkanaraaste, kurkkusalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-28</guid>
</item>
<item>
<title>ti 29.9.2026</title>
<description><![CDATA[Lounas:Kirjolohikiusaus<br><br>Kasvislounas:Kreikkalainen kasviskiusaus<br><br>Lisäkkeet:Jäävuori-kesäkurpitsa, punajuuriviipaleet]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-29</guid>
</item>
<item>
<title>ke 30.9.2026</title>
<description><![CDATA[Lounas:Hernekeitto<br><br>Kasvislounas:Kasvishernekeitto<br><br>Lisäkkeet:Tomaattiviipaleet, pannukakku, mansikkahillo]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-30</guid>
</item>
<item>
<title>to 1.10.2026</title>
<description><![CDATA[Lounas:Jauhelihalasagnette<br><br>Kasvislounas:Kasvislasagnette<br><br>Lisäkkeet:Jäävuori-kurkku-ananassalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-10-01</guid>
</item>
<item>
<title>pe 2.10.2026</title>
<description><![CDATA[Lounas:Pinaattiohukaiset, perunasose<br><br>Lisäkkeet:Vihersalaatti, puolukkahillo]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-10-02</guid>
</item>
</channel>
</rss>
