<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
<channel>
<title>RSS:Kastelli</title>
<link>https://ravintolapalvelut.iss.fi/kastelli/</link>
<description />
<item>
<title>ti 22.9.2026</title>
<description><![CDATA[Lounas:Kebabkiusaus<br><br>Kasvislounas:Vebabkiusaus<br><br>Lisäkkeet:Jäävuori-maissi-persikkasalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-22</guid>
</item>
<item>
<title>ke 23.9.2026</title>
<description><![CDATA[Lounas:Ohrapuuro<br><br>Lisäkkeet:Mehukeitto, kurkku, leikkele]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-23</guid>
</item>
<item>
<title>to 24.9.2026</title>
<description><![CDATA[Lounas:Broileripastavuoka<br><br>Kasvislounas:Soija-pastavuoka<br><br>Lisäkkeet:Porkkanaraaste, punakaali-mustaherukkasalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-24</guid>
</item>
<item>
<title>pe 25.9.2026</title>
<description><![CDATA[Lounas:Kalanugetit, perunasose, sweet chili majoneesi<br><br>Kasvislounas:Kasvis-jalapenonugetit<br><br>Lisäkkeet:Vihersalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-25</guid>
</item>
<item>
<title>ma 28.9.2026</title>
<description><![CDATA[Lounas:Makkarakastike, perunat<br><br>Kasvislounas:Kasvisnakkikastike<br><br>Lisäkkeet:Kaali-porkkanaraaste, kurkkusalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-28</guid>
</item>
<item>
<title>ti 29.9.2026</title>
<description><![CDATA[Lounas:Kirjolohikiusaus<br><br>Kasvislounas:Kreikkalainen kasviskiusaus<br><br>Lisäkkeet:Jäävuori-kesäkurpitsa, punajuuriviipaleet]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-29</guid>
</item>
<item>
<title>ke 30.9.2026</title>
<description><![CDATA[Lounas:Hernekeitto<br><br>Kasvislounas:Kasvishernekeitto<br><br>Lisäkkeet:Tomaattiviipaleet, pannukakku, mansikkahillo]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-30</guid>
</item>
<item>
<title>to 1.10.2026</title>
<description><![CDATA[Lounas:Jauhelihalasagnette<br><br>Kasvislounas:Kasvislasagnette<br><br>Lisäkkeet:Jäävuori-kurkku-ananassalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-10-01</guid>
</item>
<item>
<title>pe 2.10.2026</title>
<description><![CDATA[Lounas:Pinaattiohukaiset, perunasose<br><br>Lisäkkeet:Vihersalaatti, puolukkahillo]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-10-02</guid>
</item>
<item>
<title>ma 5.10.2026</title>
<description><![CDATA[Lounas:Kalapihvit, perunat ja tillikastike<br><br>Kasvislounas:Kasvispihvit<br><br>Lisäkkeet:Jäävuori-paprikasalaatti, punajuuri-raejuustosalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-10-05</guid>
</item>
<item>
<title>ti 6.10.2026</title>
<description><![CDATA[Lounas:Makaronilaatikko<br><br>Kasvislounas:Soija-makaronilaatikko<br><br>Lisäkkeet:Raastesalaatti, ketsuppi]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-10-06</guid>
</item>
<item>
<title>ke 7.10.2026</title>
<description><![CDATA[Lounas:Butter chicken, riisi<br><br>Kasvislounas:Butter tofu<br><br>Lisäkkeet:Vihersalaatti, marinoitu punakaalisalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-10-07</guid>
</item>
<item>
<title>to 8.10.2026</title>
<description><![CDATA[Lounas:Tomaattinen jauhelihakeitto<br><br>Kasvislounas:Tomaattinen juuressosekeitto<br><br>Lisäkkeet:Juusto, maustekurkku<br><br>Jälkiruoka:Omenakiisseli]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-10-08</guid>
</item>
<item>
<title>pe 9.10.2026</title>
<description><![CDATA[Lounas:Maksalaatikko, perunat, voi-sipulikastike<br><br>Kasvislounas:Punajuuri-kauravuoka<br><br>Lisäkkeet:Jäävuori-kurkku-porkkanasalaatti, puolukkahillo]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-10-09</guid>
</item>
</channel>
</rss>
