<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
<channel>
<title>RSS:Kastelli</title>
<link>https://ravintolapalvelut.iss.fi/kastelli/</link>
<description />
<item>
<title>pe 28.8.2026</title>
<description><![CDATA[Lounas:Makaronilaatikko<br><br>Kasvislounas:Soija-makaronilaatikko<br><br>Lisäkkeet:Raastesalaatti, ketsuppi]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-08-28</guid>
</item>
<item>
<title>ma 31.8.2026</title>
<description><![CDATA[Lounas:Palvikiusaus<br><br>Kasvislounas:Tofu-kasviskiusaus<br><br>Lisäkkeet:Höyrytetyt vihannekset, kaali-kurpitsaraaste]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-08-31</guid>
</item>
<item>
<title>ti 1.9.2026</title>
<description><![CDATA[Lounas:Jauhelihakeitto<br><br>Kasvislounas:Juustoinen kasviskeitto<br><br>Lisäkkeet:Juusto, maustekurkku, aurinkokiisseli]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-01</guid>
</item>
<item>
<title>ke 2.9.2026</title>
<description><![CDATA[Lounas:Kirjolohipyörykät, perunat, tillikastike<br><br>Kasvislounas:Kasvispyörykät<br><br>Lisäkkeet:Omena-coleslaw]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-02</guid>
</item>
<item>
<title>to 3.9.2026</title>
<description><![CDATA[Lounas:Riisipuuro<br><br>Lisäkkeet:Leikkele, tomaatti, kaneli-sokeri]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-03</guid>
</item>
<item>
<title>pe 4.9.2026</title>
<description><![CDATA[Lounas:Uunimakkara, perunasose<br><br>Kasvislounas:Soijamakkara<br><br>Lisäkkeet:Jäävuori-ananassalaatti, kurkkusalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-04</guid>
</item>
<item>
<title>ma 7.9.2026</title>
<description><![CDATA[Lounas:Tomaattinen pastavuoka<br><br>Lisäkkeet:Jäävuori-kurkku-hernesalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-07</guid>
</item>
<item>
<title>ti 8.9.2026</title>
<description><![CDATA[Lounas:Hapanimelä broilerikastike, riisi<br><br>Kasvislounas:Hapanimelä vegekastike<br><br>Lisäkkeet:Marinoitu kaalisalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-08</guid>
</item>
<item>
<title>ke 9.9.2026</title>
<description><![CDATA[Lounas:Kalakeitto<br><br>Kasvislounas:Juustoinen kasviskeitto<br><br>Lisäkkeet:Tomaatti, juusto, marjakiisseli]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-09</guid>
</item>
<item>
<title>to 10.9.2026</title>
<description><![CDATA[Lounas:Jauheliha-perunaviipalevuoka<br><br>Kasvislounas:Kasvisperunavuoka<br><br>Lisäkkeet:Jäävuori-porkkana-kukkakaalisalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-10</guid>
</item>
<item>
<title>pe 11.9.2026</title>
<description><![CDATA[Lounas:Broileripyörykät currykastikkeessa, perunat<br><br>Kasvislounas:Kasvispyörykät, Jäävuori-persikkasalaatti, mustaherukkahillo]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-11</guid>
</item>
<item>
<title>ma 14.9.2026</title>
<description><![CDATA[Lounas:Broilerkebabkastike, riisi<br><br>Kasvislounas:Seitankebabkastike<br><br>Lisäkkeet:Kaali-ananasraaste, vihreä pepperoni]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-14</guid>
</item>
<item>
<title>ti 15.9.2026</title>
<description><![CDATA[Lounas:Makkarakeitto<br><br>Kasvislounas:Kasvismakkarakeitto<br><br>Lisäkkeet:Kurkku, juusto, Omena]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-15</guid>
</item>
<item>
<title>ke 16.9.2026</title>
<description><![CDATA[Lounas:Kalakepukat, perunat, pinaattikastike<br><br>Kasvislounas:Kasviskepukat<br><br>Lisäkkeet:Punajuuri, Jäävuori-kesäkurpitsasalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-16</guid>
</item>
<item>
<title>to 17.9.2026</title>
<description><![CDATA[Lounas:Kaalilaatikko<br><br>Kasvislounas:Kasviskaalilaatikko<br><br>Lisäkkeet:Porkkana-raejuustoraaste, puolukkahillo]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-17</guid>
</item>
<item>
<title>pe 18.9.2026</title>
<description><![CDATA[Lounas:Juurespyörykät, peruna-porkkanasose, tartarkastike<br><br>Lisäkkeet:Tuoresalaatti]]></description>
<guid isPermaLink="false">https://ravintolapalvelut.iss.fi/kastelli/?date=2026-09-18</guid>
</item>
</channel>
</rss>
